@inject ProjectViewModel ViewModel

<div>
    <div>
        <Table @ref="table"
               TItem="ProjectAdapterModel"
               DataSource="@ViewModel.Datas"
               OnChange=@ViewModel.OnTableChange
               @bind-PageIndex="@ViewModel.PageIndex"
               @bind-PageSize="@ViewModel.PageSize"
               @bind-Total=@ViewModel.Total>
            <TitleTemplate>
                <Flex Justify="FlexJustify.End" Gap="@("10")">
                    <Button Type="ButtonType.Primary" OnClick="() => ViewModel.OnAddNewRecord()">新增</Button>
                </Flex>
            </TitleTemplate>
            <ColumnDefinitions Context="row">
                <Column TData="string" DataIndex="@nameof(ProjectAdapterModel.Name)" Title="名稱" />
                <Column TData="string" DataIndex="@nameof(ProjectAdapterModel.StartDateText)" Title="開始日" />
                <Column TData="string" DataIndex="@nameof(ProjectAdapterModel.EndDateText)" Title="終止日" />
                <Column TData="string" DataIndex="@nameof(ProjectAdapterModel.Owner)" Title="負責人" />
                <ActionColumn Fixed="ColumnFixPlacement.Right" Title="操作">
                    <Space>
                        <SpaceItem>
                            <Tooltip Title="修改">
                                <Button Type="ButtonType.Primary" Shape="ButtonShape.Circle" Icon="@IconType.Outline.Edit" OnClick="()=>ViewModel.OnEditRecord(row)" />
                            </Tooltip>
                        </SpaceItem>
                        <SpaceItem>
                            <Tooltip Title="刪除">
                                <Button Type="ButtonType.Primary" Shape="ButtonShape.Circle" Icon="@IconType.Outline.Clear" OnClick="async () => await ViewModel.OnDeleteRecordAsync(row)" />
                            </Tooltip>
                        </SpaceItem>
                    </Space>
                </ActionColumn>

            </ColumnDefinitions>
        </Table>
    </div>

    <div>
        <Modal Title=@ViewModel.EditRecordTitle Width="@("70%")"
               Centered="true"
               MaxBodyHeight="@("80vh")"
               Visible="@ViewModel.IsShowEditRecord"
               Closable="false"
               MaskClosable="false"
               OkText="@("確定")"
               OnOk="@ViewModel.OnRecordEditConfirm"
               CancelText="@("取消")" 
               OnCancel="@ViewModel.OnRecordEditCancel">
           
            <ProjectForm ViewModel="ViewModel" />

        </Modal>

    </div>
</div>
<ConfirmModal ViewModel="@ViewModel.ConfirmModal" />
<MessageModal ViewModel="@ViewModel.MessageModal" />

@code {

    ITable table;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            ViewModel.OnChanged += StateHasChanged;
            await GetDataAsync(firstRender);
        }
    }
    async Task GetDataAsync(bool firstRender = false)
    {
        await ViewModel.GetPageAsync();
        if (firstRender == true)
        {
            StateHasChanged();
        }
    }
}