<EditForm Model="@ViewModel.CurrentRecord">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <InputWatcher EditContextActionChanged="@ViewModel.OnEditContestChanged" />

    <div>
        <div class="row">
            <div class="col mb-3">
                <label class="form-label">名稱</label>
                <Input Placeholder="Basic usage" @bind-Value="@ViewModel.CurrentRecord.Name" />
                <ValidationMessage For="@(() => ViewModel.CurrentRecord.Name)" />
            </div>
        </div>

        <div class="row">
            <div class="col mb-3">
                <label class="form-label">描述</label>
                <Input Placeholder="Basic usage" @bind-Value="@ViewModel.CurrentRecord.Description" />
                <ValidationMessage For="@(() => ViewModel.CurrentRecord.Description)" />
            </div>
        </div>

        <div class="row">
            <div class="col mb-3">
                <label class="form-label">開始日期</label>
                <br />
                <DatePicker TValue="DateTime" Picker="DatePickerType.Date" @bind-Value="@ViewModel.CurrentRecord.StartDate" />
                <ValidationMessage For="@(() => ViewModel.CurrentRecord.StartDate)" />
            </div>
        </div>

        <div class="row">
            <div class="col mb-3">
                <label class="form-label">完成日期</label>
                <br />
                <DatePicker TValue="DateTime" Picker="DatePickerType.Date" @bind-Value="@ViewModel.CurrentRecord.EndDate" />
                <ValidationMessage For="@(() => ViewModel.CurrentRecord.EndDate)" />
            </div>
        </div>

        <div class="row">
            <div class="col mb-3">
                <label class="form-label">完成百分比</label>
                <br />
                <AntDesign.InputNumber @bind-Value="ViewModel.CurrentRecord.CompletionPercentage" Min="0" Max="100" DefaultValue="0" PlaceHolder="輸入完成百分比"></AntDesign.InputNumber>
                <ValidationMessage For="@(() => ViewModel.CurrentRecord.CompletionPercentage)" />
            </div>
        </div>

        <div class="row">
            <div class="col mb-3">
                <label class="form-label">專案狀態</label>
                <Select TItem="SelectItemModel"
                        DefaultValue="@(ViewModel.SelectValueStatus.Value)"
                        TItemValue="string"
                        DataSource="@ViewModel.SelectItemsStatus"
                        @bind-Value="@ViewModel.SelectValueStatus.Value"
                        ValueName="@nameof(ViewModel.SelectValueStatus.Value)"
                        LabelName="@nameof(ViewModel.SelectValueStatus.Key)"
                        Placeholder="選擇一個專案狀態"
                        OnSelectedItemChanged="@ViewModel.OnStatusChange">
                </Select>
            </div>
        </div>

        <div class="row">
            <div class="col mb-3">
                <label class="form-label">專案優先權</label>
                <Select TItem="SelectItemModel"
                        DefaultValue="@(ViewModel.SelectValuePriority.Value)"
                        TItemValue="string"
                        DataSource="@ViewModel.SelectItemsPriority"
                        @bind-Value="@ViewModel.SelectValuePriority.Value"
                        ValueName="@nameof(ViewModel.SelectValuePriority.Value)"
                        LabelName="@nameof(ViewModel.SelectValuePriority.Key)"
                        Placeholder="選擇一個專案狀態"
                        OnSelectedItemChanged="@ViewModel.OnPriorityChange">
                </Select>
            </div>
        </div>

        <div class="row">
            <div class="col mb-3">
                <label class="form-label">負責人</label>
                <Input Placeholder="Basic usage" @bind-Value="@ViewModel.CurrentRecord.Owner" />
                <ValidationMessage For="@(() => ViewModel.CurrentRecord.Owner)" />
            </div>
        </div>

    </div>
</EditForm>

@code {
    [Parameter]
    public ProjectViewModel ViewModel { get; set; } = null!;

}